<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/MyDragHelper.js"></script>
    @Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList })
    @Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.TreeList })
</head>

<body>
    @RenderBody()
</body>
</html>
